/* ..................    FONT LNKS  START  .................... */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');


/* ..................    FONT LNKS  END  .................... */


/* ???????????????     COMMON  CSS  START     ?????????????? */

a {
  text-decoration: none !important;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0;
  outline: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --main_font: "Host Grotesk", sans-serif;
  /* --descrip_font: "Sen", serif; */
  --primary_color: #1f1f1e;
  --regular_font_color: #2e2e2d;
  --sceondry_color: #777775;
  --fff_white: #fff;
  --000_black: #000;
}

.common_heading h2 {
  font-size: 80px;
  font-weight: 500;
  font-family: var(--header_font);
  color: var(--fff_white);
  letter-spacing: 1PX;
  text-align: center;
  padding-bottom: 60px;
}

section{
  overflow: hidden;
}

body{
  background-color: #000;
}

/* ???????????????     COMMON  CSS  END     ?????????????? */

/* (((((((((((((((((     CSS START     )))))))))))))))) */



/* :::::::<<<<<<<<<<      CSS END     >>>>>>>>>>:::::: */


/* (((((((((((((((((    BANNER CSS START     )))))))))))))))) */



header {
  background: url("../img/banner_back.jpg") no-repeat fixed center / cover;
  text-align: center;
  height: 100vh;
}

.banner_text_box{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 400px;
  background-color: #2e2e2d38;
}


.banner_text_box h1 {
	font-size: 100px;
	font-weight: 500;
	font-family: var(--main_font);
	color: var(--fff_white);
  letter-spacing: 1.5px;
	
}

.banner_text_box h2{
  font-size: 25px;
  font-weight: 400;
  font-family: var(--main_font);
  color: var(--sceondry_color);
  
 
}

/* .about {
  background: url("https://unsplash.it/1080/720/?image=345") no-repeat fixed center / cover;
  color: white;
}

 */

/* :::::::<<<<<<<<<<    BANNER  CSS END     >>>>>>>>>>:::::: */


/* (((((((((((((((((     CSS START     )))))))))))))))) */



/* :::::::<<<<<<<<<<      CSS END     >>>>>>>>>>:::::: */


/* (((((((((((((((((     CSS START     )))))))))))))))) */



/* :::::::<<<<<<<<<<      CSS END     >>>>>>>>>>:::::: */


/* (((((((((((((((((     CSS START     )))))))))))))))) */



/* :::::::<<<<<<<<<<      CSS END     >>>>>>>>>>:::::: */


/* (((((((((((((((((     CSS START     )))))))))))))))) */



/* :::::::<<<<<<<<<<      CSS END     >>>>>>>>>>:::::: */


/* (((((((((((((((((     CSS START     )))))))))))))))) */



/* :::::::<<<<<<<<<<      CSS END     >>>>>>>>>>:::::: */


/* (((((((((((((((((     CSS START     )))))))))))))))) */



/* :::::::<<<<<<<<<<      CSS END     >>>>>>>>>>:::::: */



